<ion-view title="Forgotten Password?" data-ng-controller="passwordReminderCtrl as vm" data-ng-cloak
          hide-back-button="false">
    <ion-content class="has-header has-footer list list-inset">
        <div class="bar bar-header bar-positive">
            <h1 class="title">Please provide user name or email</h1>
        </div>
        <br/>
        <br/>
        <br/>

        <form class="form-horizontal" novalidate name="$parent.passwordreminderform" ng-submit="vm.requestReminder()">
            <div class=" col-offset-10 col-80 ">
                <label class="item-input item-floating-label">
                    <span class="input-label">User name</span>
                    <input type="text" data-ng-model="vm.userName" data-ng-disable="vm.checkEmail()"
                           class=" val-input val-input-left-icon"
                           name="username" placeholder="User name" />
                    <i class="val-icon icon-user-4 val-icon-right val-icon-no-line"></i>
                </label>
            </div>
            <br/>

            <div style="text-align: center;">OR</div>
            <div class=" col-offset-10 col-80 ">
                <label class="item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email" data-ng-model="vm.email" data-ng-disable="vm.checkUserName()"
                           class=" val-input val-input-left-icon"
                           name="email" placeholder="Email" />
                    <i class="val-icon icon-mail val-icon-right val-icon-no-line"></i>

                    <div class="speech-bubble"
                         ng-if="(passwordreminderform.$submitted && passwordreminderform.email.$invalid) || (passwordreminderform.email.$touched && passwordreminderform.email.$invalid)">
                        <div class="arrow top "></div>
                        <ul data-ng-show="passwordreminderform.email.$error" class="error-messages val-error">
                            <li data-ng-show="passwordreminderform.email.$error.email" class="has-error"><i
                                    class="icon-attention-3"></i> Email is invalid
                            </li>
                        </ul>
                    </div>
                </label>
            </div>
            <br>

            <div class=" col-offset-10 col-80">
                <button class="button button-full button-positive icon-export-outline">
                    Reset Password
                </button>
            </div>
            <br/>

            <div class="col-offset-10 col-80 bar-subfooter" style="text-align: justify;font-size:14px;color:maroon;">
                An email that contains a temporary password will be sent to the email provided or associated with the
                user name
            </div>
        </form>
    </ion-content>
    <div class="tabs-striped tabs-background-dark tabs-color-light">
        <div class="tabs tabs-icon-top">
            <a class="tab-item" href="#/user/signin">
                <i class="icon icon-login-2"></i>
                Sing In
            </a>
            <a class="tab-item" href="#/user/signup">
                <i class="icon icon-edit-3"></i>
                Sign Up
            </a>
        </div>
    </div>

</ion-view>
